.searchBar {
    padding-top: 10rem;
    padding-bottom: 5rem;
    border-radius: 5rem;
    display: flex;
    width: 60%;
    align-self: center;
}

.button {
    
    width: 5rem;
	height: 5rem;
    border: 1px solid black;
	background: black;
    color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
	cursor: pointer;
    align-self: center;
}

.button:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}
.inputSearch {
    margin: 0;
    width: 100%;
	border: 0;
	background: black;
	padding: 15px 20px;
	color: white;
   
}
.inputSearch:focus {
    font-size: 2.2rem;
    
}
.inputSearch::placeholder {
    font-size: 2.2rem;
}