.principalContainer {
	display: flex;
	justify-content: center;
	padding: 30px 0px;
}
.sortDiv {
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 5.5rem;
	width: 70rem;
	}

.select {
	height: 3rem;
	border: none;
	background-color: #ADDDD0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-weight: 700;
	font-size: 1rem;
	text-align: center;
	color: #494a58;
	border-radius: 1rem 1rem 0 0;
	cursor: pointer;
	font-size: 14px;
}

.select * {
	font-size: 1rem;
	font-weight: 700;
}
.select option {
	font-size: 14px;
	text-align: left;
}