.mainDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background:rgba(67, 163, 125, 0.212)
}

.user {
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: center;
	width: 70%;
	border: 1px solid rgba(0, 0, 0, 0.565);
	background-color: whitesmoke;
	
}

.userContainer {
	display: flex;
	justify-content: center;
	padding-left: 50px;
}

.cardContainer{
	border: 1px solid rgba(0, 0, 0, 0.484);
	padding: 40px;
	margin: 50px 0;
	border-radius: 30px;
	height: 300px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img {
	height: 7rem;
	width: 7rem;
}

.noRender {
	display: none;
}

.userInfo {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	font-size: 20px;
}
.button:hover {
	color: #ADDDD0;
}

.roomCard{
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.471);
	border-radius: 30px;
	cursor: pointer;
	padding: 30px;
	margin: 40px;
	background:#adddd0a1;
	color: rgba(0, 0, 0, 0.722);
	max-width: 262px;
}
.roomCard:hover {
	transform: scale(1.15);
	
}
.roomCard a {
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
}
.roomCard a:hover {
	
	color: inherit;
}
.render {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.roomCard img {
	width: 200px;
	height: 200px;
}

.reservationContainer {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	border-radius: 1.3rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.484);
	height: 7rem;
	width: 24rem;
	padding: 1rem;
	
}

.reservationContainer:hover {
	background-color:#adddd0a1;
}

.viewIcon {
	height: 4rem;
	width: 5rem;
	background-color: white;
	padding: 0.2rem;
	border-radius: 1rem;
}

.linksContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reviewBtn {
	margin-top: 0.4rem;
	background-color: #212529;
	color: white;
	border-color: #373b3e;
	border-radius: 0.5rem;
	padding: 0.1rem 0.3rem;
	font-weight: 500;
	text-decoration: none;
}

.reviewBtn:hover {
	background-color: #424649;
	color: white;
}

.infoContainer {
	font-size: 1.2rem;
}