
.card {
	display: flex;
	justify-content: space-around;
	width: 100%;
	background: rgba(173, 221, 208, 0.4);
}

.card select{
	margin-left: 1rem;
	margin-right: 1rem;
	width: 10rem;
	height: 2.5rem;
	border: none;
	border-radius: 0.5rem 0.5rem 0 0;
	border-bottom: solid 0.2rem #ADDDD0;
	cursor: pointer;
	text-align: center;
	font-weight: 700;
	color: #494a58;
}

.card select * {
	font-size: 1rem;
	font-weight: 700;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2vw;
	height: 4rem;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
