/* From uiverse.io by @ercnersoy */
.input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(173, 221, 208, 0.5);
    transition: 0.3s;
    height: 3rem;

}
   
.input:focus {
    outline-color: rgba(173, 221, 208, 1);
    background: rgba(173, 221, 208, 0.5);
    transition: 0.3s;
}