.mainDiv {
    display: flex;
    
    justify-content: center;
}
.divContainer {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.inputContainer {
    display: flex;
}
.input {
    width: 400px;
    height: 40px;
    padding-left: 10px;
}

.button {
    width: 50px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.535);
    color: rgba(0, 0, 0, 0.696);
}

.button:hover {
    color: white;
    background: #ADDDD0;
}