.mainDiv {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divContainer {
    height: 300px;
    width: 70%;
    align-items: center;
    justify-content: center;
}