
.RoomCardContainer {
 height: 20rem;
 width: 60rem;
 border: 0.1rem solid black;
 display: flex;
 direction: column;
 font-size: 1.1rem;
 border-radius: 0.6rem;
 box-shadow: 0.6rem 0.6rem 1.4rem #00000015;
 border: none;
 
}

.RoomCardContainer:hover {
	border: #ADDDD0 0.3rem solid;
}

.upperSection {
 padding: 1rem;
 width: 30rem;
 display: flex;
 direction: column;
 justify-content: space-around;
 align-items: center;
}

.beds {
padding-left: 0.5rem;
padding-right: 0.5rem;
background-color: #ADDDD0;
display: inline-block;
border-radius: 0 2rem 2rem 0;
}

.bottomSection {
 height: 5rem;
 display: flex;
 direction: column;
 justify-content: flex-end;
 align-items: flex-end;
 font-size: 2.5rem;
 padding: 1rem;
}

.Img {
height: 100%;
width: 30rem;
}

#place {
font-size: 3rem;
}

button {
	border: none;
	font-weight: bold;
	margin-right: 5rem;
	cursor: pointer;
	text-decoration: none;
 	background: transparent;
}

.viewButton {
	background-color: #309177;
	padding: 0.3rem 1rem 0.3rem 1rem;
	border-radius: 2rem;
	font-size: 2rem;
}

.viewButton:hover {

}
.viewLink {
	text-decoration: none;
	color: white;
}

li {
	display: inline-block;
	margin: 1rem;

}

