.mainDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url('../../../Images/brianna-tucker-bU5BjwyQbOM-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

.compContainer {
    display: flex;
    width: 70%;
    height: 100%;
}

.cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card {
    width: 250px;
    height: 354px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    background: #f2f2f3;
    border-radius: 12px;
   }
   
   .card .img {
    height: 200px;
    margin-top: 1.6em;
    border-radius: 30%;
    background: #f2f2f3;
    margin-bottom: 0.4em;
    box-shadow: -5px -5px 8px #ffffff7a, 
                 5px 5px 8px #a9a9aa7a;
   }
   
   .card .info {
    text-align: center;
    margin-top: 0.4em;
    background: black;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
   
   .card .info > span {
    font-weight: bold;
    font-size: 1.2em;
   }
   
   .card a {
    margin-top: 1em;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(90deg, #7c8180 0%, #000000 100%);
    padding: .5em 2em;
    border-radius: 0.7em;
   }
   
   .card a:hover {
        transform: scale(1.15);
        color: white;
   }

   .cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70%;
   }


   .loading {
    color: white;
    font-size: 60px;
    margin-left: 100px;
}
