
.pageNumbers {
	text-align: center;
}

.numbers {
	margin-right: 3rem;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 2rem;
	background-color: #ADDDD0;
	border: 0.2rem solid transparent;
}

.numbers:hover {
	border: 0.2rem solid #ADDDD0;
	color: #ADDDD0;
	background-color: transparent;
}