.mainDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 800px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 40px;
}
.form h2 {
    text-align: center;
}
.roomContainer {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    
}

.imageDiv {
    width: 600px;
    height: 400px;
}
.imageDiv img {
    width: 100%;
    height: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContainer h3 {
    text-align: center;
}

.price {
    bottom: 0;
    font-size: 25px;
    color: rgb(9, 2, 105);
}

.cardDiv {
    width: 400px;
}

.button {
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.476);
    color: rgba(0, 0, 0, 0.629);
}

.button:hover {
    color: white;
    background: #ADDDD0;
}

