.mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 50px;

}

.adminButton{
    align-self: flex-end;
    padding: 10px;
    color: rgba(0, 0, 0, 0.494);
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 21px;
    padding-top: 30px;
    
    font-weight: bolder;
}
.subtitle {
    padding: 10px 30px;
}

.buttonModal {
    width: 80%;
    background-color: white;
    height: 44px;
    margin: 40px 0px;
    border-radius: .5rem;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonModal a{
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px
}
.buttonModal a:hover{
   color: white;
}

.buttonModal:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}
.input {
    height: 44px;
    width: 80%;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid rgba(0, 0, 0, 0.307);
    font-size: 1rem;
  }

.imageContainer {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

  .cardImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 154px;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000053;
    border: rgb(250, 250, 250) 0.2em solid;
    cursor: pointer;
   }
   .cardImg:hover {
    transform: scale(1.15);
   }
   .cardImg img{
    width: 50px;
    height: 50px;
   }

