.NavLink {
	text-decoration: none;
	color: #282936;
	align-self: center;
}


.navbarDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainDiv {
	width: 70rem;
	display: flex;
	justify-content: space-between;
}

.groupDiv{
	display: flex;
	align-items: center;
}

.navbarButton {
	display: flex;
	align-items: center;
	background: white;
	color: rgba(0, 0, 0, 0.498);
	font-size: 2rem;
	font: arial;
	width: 100px;
	height: 50%;
	border: 0.1px solid rgba(0, 0, 0, 0.089);
	margin-right: 20px;
	border-radius: 15px;
}

.navbarButton:hover {
	background: #ADDDD0;
	color: white;
}
.navbarButton a, span {
	text-decoration: none;
	color: inherit;
	font-size: 14px;
	width: 100%;
	height: 100%;
	line-height: 30px;
}
.navbarButton a:hover {
	color: inherit;
}

.navbarButtonAdmin {
	display: flex;
	align-items: center;
	background: white;
	color: rgba(0, 0, 0, 0.498);
	font-size: 2rem;
	font: arial;
	width: 100px;
	height: 50%;
	border: 0.1px solid rgba(0, 0, 0, 0.089);
	margin-right: 20px;
	border-radius: 15px;
}

.navbarButtonAdmin:hover {
	background: #ADDDD0;
	color: white;
}
.navbarButtonAdmin a, span {
	text-decoration: none;
	color: inherit;
	font-size: 14px;
	width: 100%;
	height: 100%;
	line-height: 30px;
}
.navbarButtonAdmin a:hover {
	color: inherit;
}


#logoImg {
	height: 4rem;
	width: 13rem;
}

.profileDiv {
	display: flex;
}
.logoutBotton {
	height: 30px;
	color:  white;
	cursor: pointer;
	color: #ADDDD0;
	background-color: transparent;
	width: 3rem;
}


.logoutBotton:hover {
	color: inherit;
}