.NavLink {
	text-decoration: none;
	color: #282936;
	align-self: center;
}

.navbarButton:hover {
	color: #282936;
	border-bottom: solid 0.2rem #ADDDD0;
}


.navbarDiv {
	display: flex;
	justify-content: space-between;
	padding-right: 3rem;
}

.navbarButton {
	
	background-color: transparent;
	padding: 0.5rem;
	font-size: 2rem;
}

#logoImg {
	height: 5rem;
	width: 8rem;
}
